@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">BCA VI Project</h1>
    <p>Learn about
        <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>

<h3>Links</h3>

<a class="btn btn-primary" asp-controller="ProductUnit" asp-action="Index">
    View Units
</a>

<a class="btn btn-success" asp-controller="ProductUnit" asp-action="Add">
    Add Units
</a>